/* @override http://localhost/OrphanElliott/www/css/layout.css */

body {
	color: #333;
	font: 14px/1.5 Futura, "Century Gothic", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

#wrapper{

	margin-left: auto;
	
}

a {
	color: #333;
}

#header {
	position: fixed;
	top: 0;
	padding-top: 20px;
	z-index: 1;
	padding-left: 40px;
}

#footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	padding-left: 20px;
	width: 120px;
	font-size: 12px;
	padding-bottom: 20px;
}

#sidebar {
	width: 120px;
	position: fixed;
	top: 0;
	height: 100%;
	text-align: right;
	padding-right: 140px;
	padding-left: 60px;

	text-transform: uppercase;
	background-color: #fff;
	padding-top: 200px;
}

#content {
	margin-top: 187px;
	margin-left: 320px;
}

#info, #info h2 {
	font-size: 12px;
	text-transform: uppercase;
}

#info .description {
	color: #808080;
	margin-bottom: 20px;
}

#items {
	width: 2500px;
}

#items .item {
	width: 500px;
	float: left;
	margin-right: 60px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 120px;


/* Width of Menu Items */
	

/*border-bottom: 1px solid #ccc;*/
}

ul li {
	position: relative;
}

li ul {
	position: absolute;
	left: 119px;


/* Set 1px less than menu width */
	top: 0;


display: none;
	padding-left: 20px;
	font-size: 12px;
	font-weight: normal;
}

/* Styles for Menu Items */

ul li a {
	display: block;
	text-decoration: none;
	/*background: #fff;*/


/* IE6 Bug */
	padding: 5px;
}

/* Fix IE. Hide from IE Mac \*/

* html ul li {
	float: left;
	height: 1%;
}

* html ul li a {
	height: 1%;
}

/* End */

/* Add Colors: */

ul li a:hover {
	/*background: #f9f9f9;*/
	font-style: italic;
}

/* Hover Styles */

li ul li a {
	text-align: left;
	color: #808080;
}

/* Sub Menu Styles */

li:hover ul, li.over ul {
	display: block;
}

/* The magic */